{% extends "layouts/theme.twig" %}

{% block title %}{{page.title}}{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}

<div class="row">

	<!-- one column layout -->
  <div class="span12">
  
     {% if hasresults %}
     
        <p>Found Results</p>
        
         <ul>
            {% for product in results %}
             <li>
                 <a href="/product/{{ product.slug }}" >{{ product.id }} {{ product.name }}</a>
             </li>
             {% endfor %}          
        </ul>
     {% else %}  
       
		<div class="alert">
		  No results found.
		</div>

        
   {% endif %}
          
  </div><!-- end one column layout -->

</div><!-- end row -->
{% endblock %}